<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656300033002-l71vvk53ttuomeigrltb935f62o7m8ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656300033002-l71vvk53ttuomeigrltb935f62o7m8ok</string>
	<key>API_KEY</key>
	<string>AIzaSyBBmgtE6Rx_yHL4U6e6dbqGOxfAb_6Fu3E</string>
	<key>GCM_SENDER_ID</key>
	<string>656300033002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodForesight</string>
	<key>PROJECT_ID</key>
	<string>food-foresight</string>
	<key>STORAGE_BUCKET</key>
	<string>food-foresight.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656300033002:ios:36921a43a1bdf8025aa893</string>
</dict>
</plist>